body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

h1 {
    margin: 0;
}

p {
    margin-top: 0;
}

section {
    margin: 15px;
}

h2 {
    color: #333;
}

ul {
    list-style-type: none;
}

a {
    color: #333;
    text-decoration: none;
}
